@use "variables" as v;

.top-banner {
  height: 75px;
  background-image: url("./../assets/images/initial/top_nav_background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -30px;
}

header {
  --top-radius: 30px;

  background-color: var(--white-color);
  border-top-right-radius: var(--top-radius);
  border-top-left-radius: var(--top-radius);

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap) 0;
  }

  .header__buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  .header__lang {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      padding-right: 10px;
      height: 25px;
      width: 25px;
    }
  }

  .header__langs {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 40px;
    right: 0;

    background-color: var(--cream-color);
    padding: 14px 0;
    border-radius: 20px;

    a {
      padding: 4px 20px;

      &:hover {
        background-color: var(--white-color);
      }
    }
  }

  .header__navigation {
    @media (max-width: v.$desktop) {
      display: none;
    }
  }
}

.navigation ul {
  display: flex;
  gap: calc(var(--gap) * 2);
  font: var(--smaller-font);
  text-transform: uppercase;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  width: 150px;
  height: 35px;
}
