@use "variables" as v;

.container {
  width: 100%;

  // Чому ми йдемо від менших до більших розширень?
  // Використовуємо mobile first підхід, тому що ми спочатку пишемо стилі для мобільних пристроїв, а потім для більших екранів.
  @media (min-width: v.$bigger-mobile) {
    min-width: 540px;
  }

  @media (min-width: v.$tablet) {
    min-width: 720px;
  }

  @media (min-width: v.$desktop) {
    min-width: 1170px;
  }

  @media (min-width: v.$bigger-desktop) {
    max-width: 1400px;
  }
}
